{include file=comm/head.html}
<div style="height: 307px;width: 100%">
    <div style="height: 307px;width: 974px;margin: 0px auto"><!--轮换图片-->
        <div class="containTopPosition">
            <div class="imgMenu">
                <ul style="width: 6818px; left: -1948px;">
                    <li><img src="jju_firefox_files/banner202001.jpg"> </li>
                    <li><img src="jju_firefox_files/ljfl.jpg"> </li>
                    <li><img src="jju_firefox_files/banner202002.jpg"> </li>
                    <li><img src="jju_firefox_files/banner_70.jpg"> </li>
                    <li><img src="jju_firefox_files/banner202003.jpg"> </li>
                    <li><img src="jju_firefox_files/banner_jzxx.jpg"> </li>
                    <li><img src="jju_firefox_files/banner202001.jpg"> </li></ul></div><span id="buttonL" class="buttonLR"></span>
            <div class="imgTextIE6"></div>
            <div style="position: absolute;left: 766px"><img src="jju_firefox_files/rtdh.gif" usemap="#Map" width="208" height="307" border="0"> <map id="Map" name="Map"><area href="http://oa.jju.edu.cn/oa/" shape="rect" target="_blank" coords="36,57,210,92"><area href="https://zhjw1.jju.edu.cn/" shape="rect" target="_blank" coords="40,100,202,136"><area href="http://lib.jju.edu.cn/" shape="rect" target="_blank" coords="38,144,204,179"><area href="https://mail.jju.edu.cn/" shape="rect" target="_blank" coords="33,185,205,222"><area href="http://www.jju.edu.cn/xxfw/zpxx.htm" shape="rect" target="_blank" coords="17,269,204,305"><area href="http://www.jju.edu.cn/indexlist_xwzx.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1227" shape="rect" target="_blank" coords="29,227,205,264"></map></div></div></div></div>
<div class="fgx"></div>
<table class="main" width="974" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
    <tbody>
    <tr>
        <td width="7" valign="top"><img src="jju_firefox_files/ct_fgx.gif"> </td>
        <td width="335" valign="top">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="background: url('https://www.jju.edu.cn/images/t_bg.gif') repeat-x" height="24" align="center">
                        <table width="95%">
                            <tbody>
                            <tr>
                                <td align="left"><a href="https://www.jju.edu.cn/indexlist_tzgg.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1044" target="_blank"><img src="jju_firefox_files/tzgg.gif" border="none"></a></td>
                                <td align="right"><a href="https://www.jju.edu.cn/indexlist_tzgg.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1044" target="_blank"><img src="jju_firefox_files/more.gif" border="none"></a></td></tr></tbody></table></td></tr>
                <tr>
                    <td align="center">
                        <table width="95%">
                            <tbody>
                            <tr>
                                <td height="8"></td></tr>
                            <tr>
                                <td ;="" align="left"><!--#begineditable clone="0" namechanged="0" order="2" ispublic="0" tagname="通知公告" viewid="42182" contype="" stylesysid="" layout="" action="" name="通知公告"--><table width="100%" cellspacing="5" cellpadding="0">

                                    <tbody>
                                    {pboot:list scode=5 num=8 order=date}
                                        <tr>
                                            <td width="10" valign="middle" nowrap="nowrap" align="center"><span class="leaderfont42182"><img src="jju_firefox_files/ico1.gif" border="0" align="absmiddle"></span></td>

                                        <td valign="middle" align="left">
                                            <a href="[list:link]" class="c42182" title="[list:title]" target="_blank">
                                                [list:title lencn=18]
                                            </a>
                                        </td>

                                        <td class="timestyle42182" width="1%" valign="middle" nowrap="nowrap" align="right">05-27</td></tr>
                                    {/pboot:list}
                                    </tbody></table><!--#endeditable--></td></tr></tbody></table></td></tr></tbody></table></td>
        <td width="7" valign="top"><img src="jju_firefox_files/ct_fgx.gif"></td>
        <td width="385" valign="top">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="background: url('https://www.jju.edu.cn/images/t_bg.gif') repeat-x" height="24" align="center">
                        <table width="95%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td>
                                    <ul id="myTab0" class="newslm">
                                        <li class="active" onmousemove="nTabs(this,0)" style="border-top: medium none;border-right: medium none;width: 120px;background: none transparent scroll repeat 0% 0%;border-bottom: medium none;text-align: left;border-left: medium none"><a href="https://www.jju.edu.cn/indexlist_xwzx.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1047"><img src="jju_firefox_files/xxyw.gif" border="none"></a> </li>
                                        <li class="normal" onmousemove="nTabs(this,1);"><a href="https://www.jju.edu.cn/indexlist_xwzx.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1048" target="_blank">教研动态</a> </li>
                                        <li class="normal" onmousemove="nTabs(this,2);"><a href="https://www.jju.edu.cn/indexlist_xwzx.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1049" target="_blank">院部活动</a> </li>
                                        <li class="normal" onmousemove="nTabs(this,3);"><a href="https://www.jju.edu.cn/indexlist.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1204" target="_blank">视频新闻</a> </li>
                                        <li class="normal" onmousemove="nTabs(this,4);" style="border-right: #cccccc 1px solid"><a href="https://www.jju.edu.cn/indexlist_xwzx.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1050" target="_blank">媒体报道</a> </li></ul></td></tr></tbody></table></td></tr>
                <tr>
                    <td align="center">
                        <table width="95%">
                            <tbody>
                            <tr>
                                <td height="8"></td></tr>
                            <tr>
                                <td align="left">
                                    <div id="myTab0_Content0"><!--#begineditable clone="0" namechanged="0" order="3" ispublic="0" tagname="学院要闻" viewid="42183" contype="" stylesysid="" layout="" action="" name="学院要闻"--><table width="100%" cellspacing="5" cellpadding="0">

                                        <tbody>
                                        {pboot:list scode=2 num=8 order=date}
                                        <tr><td width="10" valign="middle" nowrap="nowrap" align="center"><span class="leaderfont42183"><img src="jju_firefox_files/ico1.gif" border="0" align="absmiddle"></span></td>

                                            <td valign="middle" align="left">


                                                <a href="[list:link]" class="c42183" title="思政第一课 感恩悟担当——我校广泛开展“战疫思政课”宣讲活动" target="_blank">
                                                    [list:title lencn=20]
                                                </a>



                                            </td>

                                            <td class="timestyle42183" width="1%" valign="middle" nowrap="nowrap" align="right">05-21</td></tr>
                                        {/pboot:list}

                                        </tbody></table><!--#endeditable--></div>
                                    <div id="myTab0_Content1" style="display: none"><!--#begineditable clone="0" namechanged="0" order="4" ispublic="0" tagname="教研动态" viewid="43134" contype="" stylesysid="" layout="" action="" name="教研动态"--><table width="100%" cellspacing="5" cellpadding="0">

                                        <tbody>
                                        <!--教研动态-->
                                        {pboot:list scode=2 num=8 order=date}
                                        <tr><td width="10" valign="middle" nowrap="nowrap" align="center"><span class="leaderfont43134"><img src="jju_firefox_files/ico1.gif" border="0" align="absmiddle"></span></td>
                                            <td valign="middle" align="left">
                                                <a href="[list:link]" class="c43134" title="机械与材料工程学院2020届毕业生考研再创佳绩" target="_blank">
                                                    [list:title lencn=18]
                                                </a>
                                            </td>
                                            <td class="timestyle43134" width="1%" valign="middle" nowrap="nowrap" align="right">06-01</td></tr>
                                        {/pboot:list}
                                        </tbody></table><!--#endeditable--></div>
                                    <div id="myTab0_Content2" style="display: none"><!--#begineditable clone="0" namechanged="0" order="5" ispublic="0" tagname="院部活动" viewid="43135" contype="" stylesysid="" layout="" action="" name="院部活动"--><table width="100%" cellspacing="5" cellpadding="0">

                                        <tbody>
                                        <!--院部活动-->
                                        {pboot:list scode=2 num=8 order=date}


                                        <tr><td width="10" valign="middle" nowrap="nowrap" align="center"><span class="leaderfont43135"><img src="jju_firefox_files/ico1.gif" border="0" align="absmiddle"></span></td>
                                            <td valign="middle" align="left">


                                                <a href="[list:link]" class="c43135" title="教师教育学院举办抗疫家教志愿服务总结表彰大会" target="_blank">
                                                    [list:title lencn=18]
                                                </a>



                                            </td>

                                            <td class="timestyle43135" width="1%" valign="middle" nowrap="nowrap" align="right">06-01</td></tr>

                                        {/pboot:list}
                                        </tbody></table><!--#endeditable--></div>
                                    <div id="myTab0_Content3" style="display: none"><!--#begineditable clone="0" namechanged="0" order="6" ispublic="0" tagname="视频新闻" viewid="43136" contype="" stylesysid="" layout="" action="" name="视频新闻"--><table width="100%" cellspacing="5" cellpadding="0">

                                        <tbody>
                                        <!--视频新闻-->
                                        {pboot:list scode=2 num=8 order=date}
                                        <tr><td width="10" valign="middle" nowrap="nowrap" align="center"><span class="leaderfont43136"><img src="jju_firefox_files/ico1.gif" border="0" align="absmiddle"></span></td>
                                            <td valign="middle" align="left">
                                                <a href="[list:link]" class="c43136" title="战“役”我们在一起" target="_blank">
                                                    [list:title lencn=18]
                                                </a>
                                            </td>
                                            <td class="timestyle43136" width="1%" valign="middle" nowrap="nowrap" align="right">05-03</td></tr>
                                        {/pboot:list}
                                        </tbody></table><!--#endeditable--></div>
                                    <div id="myTab0_Content4" style="display: none"><!--#begineditable clone="0" namechanged="0" order="7" ispublic="0" tagname="媒体报道" viewid="43137" contype="" stylesysid="" layout="" action="" name="媒体报道"--><table width="100%" cellspacing="5" cellpadding="0">

                                        <tbody>
                                        <!--媒体报道-->
                                        {pboot:list scode=2 num=8 order=date}
                                        <tr><td width="10" valign="middle" nowrap="nowrap" align="center"><span class="leaderfont43137"><img src="jju_firefox_files/ico1.gif" border="0" align="absmiddle"></span></td>
                                            <td valign="middle" align="left">
                                                <a href="[list:link]" class="c43137" title="凤凰网互联网教育：九江学院——旅游学子拾金不昧 彰显当代大学生风采" target="_blank">
                                                    [list:title lencn=18]
                                                </a>
                                            </td>
                                            <td class="timestyle43137" width="1%" valign="middle" nowrap="nowrap" align="right">01-07</td></tr>
                                        {/pboot:list}
                                        </tbody></table><!--#endeditable--></div></td></tr></tbody></table></td></tr></tbody></table></td>
        <td width="7" valign="top"><img src="jju_firefox_files/ct_fgx.gif"></td>
        <td width="233" valign="top">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="background: url('https://www.jju.edu.cn/images/t_bg.gif') repeat-x" height="24" align="center">
                        <table width="100%" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td align="left"><a href="#"><img src="jju_firefox_files/tszt.gif" border="none"></a></td>
                                <td width="25" align="right">
                                    <div class="huaL" style="float: left"><img src="jju_firefox_files/news_rt.gif"> </div>
                                    <div class="huaR" style="float: right"><img src="jju_firefox_files/news_left.gif"> </div>
                                    <div style="clear: both"></div></td></tr></tbody></table></td></tr>
                <tr>
                    <td align="center">
                        <table width="220">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <div class="xiaoQing">
                                        <ul style="width: 880px; left: -220px;">
                                            <li>
                                                <div class="photo_news">
                                                    <table width="220" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                        <tr>
                                                            <td height="66"><a href="http://lxyz.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/lxyz.jpg" border="none"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://bkpg.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/bkpg_log.jpg" border="0"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://lxjt.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/zt3.jpg" border="none"></a></td></tr></tbody></table></div></li>
                                            <li><!--隐藏-->
                                                <div class="photo_news">
                                                    <table width="220" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                                                        <tbody>
                                                        <tr>
                                                            <td height="66"><a href="http://bwcx.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/chuxin.jpg" border="none"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://dzxb.cuepa.cn/" target="_blank"><img src="jju_firefox_files/xyb.jpg" border="none"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://jxjyjj.jxedu.gov.cn/" target="_blank"><img src="jju_firefox_files/zt6.jpg" border="none"></a></td></tr></tbody></table></div></li>
                                            <li>
                                                <div class="photo_news">
                                                    <table width="220" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                        <tr>
                                                            <td height="66"><a href="http://lxyz.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/lxyz.jpg" border="none"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://bkpg.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/bkpg_log.jpg" border="0"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://lxjt.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/zt3.jpg" border="none"></a></td></tr></tbody></table></div></li>
                                            <li><!--隐藏-->
                                                <div class="photo_news">
                                                    <table width="220" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
                                                        <tbody>
                                                        <tr>
                                                            <td height="66"><a href="http://bwcx.jju.edu.cn/" target="_blank"><img src="jju_firefox_files/chuxin.jpg" border="none"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://dzxb.cuepa.cn/" target="_blank"><img src="jju_firefox_files/xyb.jpg" border="none"></a></td></tr>
                                                        <tr>
                                                            <td height="66"><a href="http://jxjyjj.jxedu.gov.cn/" target="_blank"><img src="jju_firefox_files/zt6.jpg" border="none"></a></td></tr></tbody></table></div></li></ul></div></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table>





{include file=comm/foot.html}

<!-- 幻灯片
<div class="swiper-container">
    <div class="swiper-wrapper">
    	{pboot:slide num=5 gid=1}
        	<div class="swiper-slide">
        		<a href="[slide:link]">
        			<img src="[slide:src]" class="d-block w-100" >
        		</a>
        		<div class="container">
			    	<div class="position-absolute text-light" style="top:30%;">
						<h1 class="fs-20 fs-sm-32 wow slideInUp">[slide:title]</h1>
					 	<h4 class="fs-14 fs-sm-20 wow slideInUp">[slide:subtitle]</h4>
					</div>
			    </div>
        	</div>
        {/pboot:slide} 
    </div>
    <div class="swiper-button-prev d-none d-md-block"></div>
    -->

    <!--左箭头
    <div class="swiper-button-next d-none d-md-block"></div>右箭头
    <div class="swiper-pagination"></div>
</div>-->

<!--产品推荐-->
<!--
<div class="bg-white py-5">
    <div class="container">
    
      {pboot:sort scode=5}
      	<div class="text-center fs-26 fs-sm-28 text-success wow fadeInDown">[sort:name]</div>
      	<div class="text-center fs-14 fs-sm-16 mb-4 text-secondary wow fadeInUp" data-wow-delay="1s">- [sort:subname] -</div>
      {/pboot:sort}
      
      <div class="row">
       {pboot:list scode=5 num=4 order=date}
        <div class="col-12 col-sm-6 col-lg-3 wow zoomIn" data-wow-delay="[list:i]00ms" data-wow-duration="1s">
              <div class="card">
                  <div class="card-img-150"><a href="[list:link]"><img class="card-img-top" src="[list:ico]" alt="[list:title]"></a></div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="[list:link]">[list:title lencn=12]</a></h5>
                    <p class="card-text">
	                    {pboot:if([list:istop]==1)}
	                		<span class="badge badge-danger">置顶</span>
	                	{/pboot:if}
	                	{pboot:if([list:isrecommend]==1)}
	                		<span class="badge badge-warning">推荐</span>
	                	{/pboot:if}
	                	{pboot:if([list:isheadline]==1)}
	                		<span class="badge badge-info">头条</span>
	                	{/pboot:if}
	                	[list:content drophtml=1 dropblank=1 len=50]
                	</p>
                  </div>
               </div>
         </div>
        {/pboot:list}
      </div>
	  {pboot:sort scode=5}
			<div class="text-center mt-4 wow fadeInDown" data-wow-delay="1s"><h4><a href="[sort:link]" class="text-secondary fs-14 fs-sm-16">查看更多</a></h4></div>
	  {/pboot:sort}
    </div>
</div>
-->


<!-- 关于我们 -->
<!--
<div class="bg-light py-5">
    <div class="container">
      {pboot:sort scode=1}
      	<div class="text-center fs-26 fs-sm-28 text-info wow fadeInDown">[sort:name]</div>
      	<div class="text-center fs-14 fs-sm-16 mb-4 text-secondary wow fadeInUp" data-wow-delay="1s">- [sort:subname] -</div>
      {/pboot:sort}
      
      {pboot:content id=1}
      	<div class="row text-secondary mb-5 px-3 lh-2 wow fadeInDown" data-wow-delay="500ms" style="text-indent:30px;">
            [content:content drophtml=1 dropblank=1 len=442 more='']
      	</div>
     	<div class="text-center wow fadeInDown" data-wow-delay="1s"><h4><a href="[content:link]" class="text-secondary fs-14 fs-sm-16">查看更多</a></h4></div>
      {/pboot:content}
    </div>
</div>
-->
<!-- 新闻动态 -->
<!--
<div class="bg-white py-5">
    <div class="container">
      {pboot:sort scode=2}
      	<div class="text-center fs-26 fs-sm-28 text-warning wow fadeInDown">[sort:name]</div>
      	<div class="text-center fs-14 fs-sm-16 mb-5 text-secondary wow fadeInUp" data-wow-delay="1s">- [sort:subname] -</div>
      {/pboot:sort}
      
      <div class="row">
      	{pboot:list scode=2 num=4 order=date}
            <div class="col-12 col-lg-6 mb-3 wow fadeInUp" data-wow-delay="500ms">
                <div class="media mb-3">
                  <div class="media-body">
                     <h5><a href="[list:link]" title="[list:title]">[list:title lencn=20]</a></h5>
                     <p><a href="[list:link]" class="text-secondary lh-2">[list:content drophtml=1 dropblank=1 lencn=60] [list:date style=Y-m-d]</a></p>
                  </div>
                </div>
            </div>
        {/pboot:list}
      </div>
	  {pboot:sort scode=2}
		<div class="text-center wow fadeInDown" data-wow-delay="1s"><h4><a href="[sort:link]" class="text-secondary fs-14 fs-sm-16">查看更多</a></h4></div>
	  {/pboot:sort}
    </div>
</div>


<script src="{pboot:sitetplpath}/swiper-4.3.5/js/swiper.min.js"></script>
<script>        
  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    speed: 1500,
    autoplay : {
        delay:3500,
        disableOnInteraction: false
     },
     
    
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
      clickable :true,
    },
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
   
  })        
</script>
  
{include file=comm/foot.html}
-->


