{include file=comm/head.html}
<div style="width: 100%;background: url('jjusec_files/two_bg.gif') repeat-x;height: 210px">
    <div style="margin: 0px auto;width: 974px;background: url(jjusec_files/two_banner.jpg) no-repeat;height: 210px">
        <div style="line-height: 43px;margin-top: 167px;width: 178px;background: url(jjusec_files/two_title.jpg) no-repeat;float: left;height: 43px"><span style="font-family: '微软雅黑';float: right;color: #ffffff;font-size: 18px;font-weight: bold;margin-right: 5px"><!--#begineditable clone="0" namechanged="0" order="2" ispublic="0" tagname="栏目名称" viewid="42175" contype="" stylesysid="" layout="" action="" name="栏目名称"--><span class="windowstyle42175">
通知公告</span><!--#endeditable--></span></div></div></div>
<table style="margin: 0px auto" width="974" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td style="width: 178px;background: url(../../images/two_logo.gif) #e2e2e2 no-repeat 50% bottom;height: 393px" width="178" valign="top" align="center">
            <table width="95%">
                <tbody>
                <tr>
                    <td style="height: 8px">&nbsp;</td></tr>
                <tr>
                    <td class="now"><!--#begineditable clone="0" namechanged="0" order="3" ispublic="0" tagname="二级栏目导航" viewid="42176" contype="" stylesysid="" layout="" action="" name="二级栏目导航"--><style type="text/css">
                        td.b1_3_{FONT-SIZE:9pt;BORDER-BOTTOM: #187584 1px solid;TEXT-ALIGN: right;WIDTH: 150px;HEIGHT: 30px;}
                        td.b2_3_{FONT-SIZE:9pt;BORDER-BOTTOM: #187584 1px solid;TEXT-ALIGN: right;WIDTH: 150px;BACKGROUND: #197584;HEIGHT: 30px;}
                        td.b3_3_{FONT-SIZE:9pt;BORDER-BOTTOM: #cccccc 1px solid;BACKGROUND-COLOR: #eeeeee;BORDER-RIGHT: #cccccc 1px solid;}
                        td.b4_3_{FONT-SIZE:9pt;BORDER-BOTTOM: #cccccc 1px solid;BACKGROUND-COLOR: #eeeeee;BORDER-RIGHT: #cccccc 1px solid;}
                        a.menu0_3_:link {TEXT-DECORATION: none;};
                        a.menu0_3_:visited { TEXT-DECORATION: none;};
                        a.menu0_3_:hover {TEXT-DECORATION: none;};
                        a.menu0_3_:active {TEXT-DECORATION: none;};
                        table.tb1_3_{FONT-SIZE:9pt;border:0;}
                        span.s1_3_{LINE-HEIGHT: 160%;FONT-FAMILY: 微软雅黑;COLOR: #fff;FONT-SIZE: 10pt;}
                        span.s2_3_{LINE-HEIGHT: 160%;FONT-FAMILY: 宋体;COLOR: #cc0000;FONT-SIZE: 11pt;TEXT-DECORATION: none;}
                        span.s10_3_{LINE-HEIGHT: 160%;FONT-FAMILY: 微软雅黑;COLOR: #000000;FONT-SIZE: 10pt;TEXT-DECORATION: ;}
                        span.s20_3_{LINE-HEIGHT: 160%;FONT-FAMILY: 宋体;COLOR: #000000;FONT-SIZE: 11pt;TEXT-DECORATION: none;}
                    </style>
                        <script language="javascript">
                            var showfix_3_ = 1;
                            var isvertical_3_ = true;
                        </script>

                        <table id="t1_3_" width="0" height="0" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="b1_3_" id="a_3_1044" onmouseover="tshowLayers('1044','b2_3_', '_3_')" onmouseout="thideLayers('1044','b1_3_', '_3_','true')" width="0" valign="middle" height="0" align="left"> <a class="menu0_3_" href="https://www.jju.edu.cn/indexlist_tzgg.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1044"><span class="fontstyle42176">&nbsp;通知公告&nbsp;</span></a></td></tr></tbody></table><!--#endeditable--></td></tr></tbody></table></td>
        <td width="796" valign="top">
            <table width="100%">
                <tbody>
                <tr>
                    <td class="now" height="30"><!--#begineditable clone="0" namechanged="0" order="4" ispublic="0" tagname="当前位置" viewid="42177" contype="" stylesysid="" layout="" action="" name="当前位置"-->
                        <table class="winstyle42177" cellspacing="0" cellpadding="0"><tbody><tr><td nowrap="nowrap">当前位置：
                            <a href="https://www.jju.edu.cn/index.htm"><span class="fontstyle42177">首页</span></a><span class="splitflagstyle42177">&gt;&gt;</span><a href="https://www.jju.edu.cn/indexlist_tzgg.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1196"><span class="fontstyle42177">通知公告</span></a><span class="splitflagstyle42177">&gt;&gt;</span><a href="https://www.jju.edu.cn/indexlist_tzgg.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1044"><span class="fontstyle42177">通知公告</span></a><span class="splitflagstyle42177">&gt;&gt;</span><span class="fontstyle42177">正文</span></td></tr></tbody></table><!--#endeditable--></td></tr>
                <tr>
                    <td style="width: 796px;background: url(../../images/two_fgx.gif) no-repeat;height: 7px"></td></tr>
                <tr>
                    <td>
                        <table style="margin: 0px auto" width="90%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td height="10">&nbsp;</td></tr>
                            <tr>
                                <td style="line-height: 25px;font-size: 14px"><!--#begineditable clone="0" namechanged="0" order="5" ispublic="0" tagname="文章内容" viewid="42178" contype="" stylesysid="" layout="" action="" name="文章内容"-->
                                    <link href="jjusec_files/title.css" type="text/css" rel="stylesheet">
                                    <style type="text/css">
                                        .content{margin:auto;text-align:left;line-height:18px;padding:3px 0 0 0;color:#727272;}
                                        .process{width:162px;height:11px;background:#EDEDED;overflow:hidden;float:left;margin-left:26px !important;margin-left:13px;margin-right:10px;}
                                        .process div{width:160px;height:11px;background:url(../../system/resource/images/newsvote/bg.gif) repeat-x;border-left:1px solid #000;border-right:1px solid #000;}
                                        .process .style7{border-left-color:#ff0000;border-right-color:#ff0000;background-position:0 -77px;}
                                    </style>



                                    <form name="form42178a">
                                        <table class="winstyle42178" width="100%" cellspacing="0" cellpadding="0" border="0">

                                            <tbody><tr><td class="titlestyle42178" align="center">
                                                {content:title}
                                            </td></tr>
                                            <tr height="30"><td align="center">
            <span class="timestyle42178">
                 2020-05-27 11:03</span>
                                                <span class="authorstyle42178"><!--党委宣传部&nbsp;--></span>
                                                <script language="javascript" src="jjusec_files/jquery-latest.js"></script><script language="javascript" src="jjusec_files/ajax.js"></script><span>&nbsp;&nbsp;(点击： <span id="n76316">1445</span>)</span><script language="javascript">getClickTimes('76316','1003184750','wbnews','')</script>
                                            </td></tr>
                                            <tr><td align="right">
        <span>

        </span>
                                            </td></tr>

                                            <tr><td class="contentstyle42178">
                                                <div class="c42178_content" id="vsb_newscontent"><div id="vsb_content">
                                                    {content:content}
                                                </div></div>



                                            </td></tr>
                                            <tr><td class="pagestyle42178" align="left">
                                            </td></tr>
                                            <tr><td><div id="div_vote_id"></div></td></tr>
                                            <tr><td align="left"><span>


      </span></td></tr>

                                            <tr>
                                                <td align="center">

                                                </td>
                                            </tr>

                                            <tr><td align="right">
                                                <span>【</span><a href="javascript:window.opener=null;window.open('','_self');window.close();"><span>关闭窗口</span></a><span>】</span>
                                            </td></tr>

                                            </tbody></table>
                                    </form>
                                    <div style="display: none">
                                        <a id="a_42178" href="" target="_blank"><span id="span_42178"></span></a>
                                    </div>


                                    <script type="text/javascript">



                                        function dosuba42178a()
                                        {
                                            try{
                                                var ua = navigator.userAgent.toLowerCase();
                                                if(ua.indexOf("msie 8")>-1)
                                                {
                                                    window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE8
                                                }else{
                                                    if (document.all)
                                                    {
                                                        window.external.addFavorite(document.location.href, document.title);
                                                    }else if(window.sidebar)
                                                    {
                                                        window.sidebar.addPanel( document.title, document.location.href, "");//firefox
                                                    }
                                                }

                                            }
                                            catch (e){alert("无法自动添加到收藏夹，请使用 Ctrl + d 手动添加");}
                                        }


                                    </script>

                                    <script language="javascript" src="jjusec_files/newscontent.js"></script>
                                    <div class="weiboicon" align="left">
                                        <script>
                                            function shareToa42178a(a)
                                            {
                                                var ec = encodeURIComponent,
                                                    U = window.location,
                                                    T = "关于开展九江学院2019年度“大学生年度人物”候选人网上投票的通知",
                                                    S = "",
                                                    key = "";
                                                shareto(a,U,T,S,key);
                                            }
                                        </script>
                                        <link href="jjusec_files/ico.css" type="text/css" rel="stylesheet">
                                    </div>
                                    <!--#endeditable--></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table>
<p>&nbsp;</p>
<div style="width: 100%;background: #eaeaea;height: 85px">
    <div style="text-align: center;margin: 0px auto;width: 974px;background: url(../../images/two_footer.gif) repeat-x;height: 85px">
        <p><span style="margin: 10px 0px 0px 10px;float: left"><img src="jjusec_files/wl110.gif"> &nbsp;<img src="jjusec_files/110.gif"> </span><span style="margin: 10px 0px 0px 30px;float: left"><!--#begineditable clone="0" namechanged="0" order="6" ispublic="0" tagname="版权" viewid="42181" contype="" stylesysid="" layout="" action="" name="版权"--></span></p><p>&nbsp;</p>
        <p>学校地址：江西省九江市前进东路551号 邮政编码：332005&nbsp; 招生电话：0792-8310030 8310031&nbsp; Email：jjuxb@jju.edu.cn<br>Copyright 2013 九江学院版权所有&nbsp;&nbsp; 备案序号：<a href="http://www.beian.miit.gov.cn/publish/query/indexFirst.action">赣ICP备10004574号</a></p><!--#endeditable--><script target="_blank" src="http://59.53.216.180:8080/jxeduStat/stat.jsp?id=jxedu@017&amp;color=green"></script><p></p>
        <p></p></div></div><map name="AutoMap1"><area href="https://www.jju.edu.cn/index.htm" shape="rect" target="" coords="0,0,20,20"></map>


</body></html>



<!--

<div class="container pages">
	{include file=comm/position.html}
    
    <div class="row">
       	<div class="col-12 col-lg-6 mb-5">
               <div class="view">
               	<a class="arrow-left" href="#"></a>
				<a class="arrow-right" href="#"></a>
                   <div class="swiper-container">
                       <div class="swiper-wrapper" >
                       	   <div class="swiper-slide">
                               <img src="{content:ico}">
                           </div>
                           {pboot:pics num=10 id={content:id}}
                           <div class="swiper-slide">
                               <img src="[pics:src]">
                           </div>
                           {/pboot:pics}
                       </div>
                   </div>
               </div>
               
               <div class="preview mt-3">
                   <a class="arrow-left" href="#"></a>
                   <a class="arrow-right" href="#"></a>
                   <div class="swiper-container" >
                       <div class="swiper-wrapper">
                       	<div class="swiper-slide active-nav swiper-slide-active">
                               <img src="{content:ico}">
                           </div>
                           {pboot:pics num=10 id={content:id}}
                           <div class="swiper-slide">
                               <img src="[pics:src]">
                           </div>
                           {/pboot:pics}
                       </div>
                   </div>
               </div>
           </div>
            
        	<div class="col-12 col-lg-6 mb-3 pr-3">
            	<h2 class="border-bottom pb-2 fs-sm-28 fs-20">{content:title}</h2>
                <div class="text-secondary my-3 border-bottom-dashed lh-3">
                      	上架时间：{content:date style=Y-m-d}
                </div>
                <div class="text-secondary my-3 border-bottom-dashed lh-3">
                      	浏览次数：{content:visits}
                </div>
                
                <div class="text-secondary my-3 border-bottom-dashed lh-3">
                      	产品类型：{content:ext_type}
                </div>
                
                <div class="text-secondary my-3 border-bottom-dashed lh-3">
                     	 产品颜色：{content:ext_color}
                </div>
                 <div class="text-secondary my-3 border-bottom-dashed lh-3">
                     	 产品价格：￥{content:ext_price}
                </div>
                <div class="my-3 lh-3">
                	{pboot:sort scode=11}
                     <a href="[sort:link]" class="btn btn-danger">马上咨询</a>
                    {/pboot:sort}
                </div>
            </div>
      </div>
      
      <h5 class="border-bottom border-info pb-2 mb-2"><i class="fa fa-sliders" aria-hidden="true"></i> 产品详情</h5>
      <div class="content">{content:content}</div>
      
      <div class="text-secondary lh-2">
			<p>上一篇：{content:precontent}</p>
			<p>下一篇：{content:nextcontent}</p>
      </div>
</div>
    

<script src="{pboot:sitetplpath}/swiper-4.3.5/js/swiper.min.js"></script>
<script>
var viewSwiper = new Swiper('.view .swiper-container', {
	on:{
		slideChangeTransitionStart: function() {
		    updateNavPosition()
	    }
	}
})

$('.view .arrow-left,.preview .arrow-left').on('click', function(e) {
	e.preventDefault()
	if (viewSwiper.activeIndex == 0) {
		viewSwiper.slideTo(viewSwiper.slides.length - 1, 1000);
		return
	}
	viewSwiper.slidePrev()
})
$('.view .arrow-right,.preview .arrow-right').on('click', function(e) {
	e.preventDefault()
	if (viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
		viewSwiper.slideTo(0, 1000);
		return
	}
	viewSwiper.slideNext()
})

var previewSwiper = new Swiper('.preview .swiper-container', {
	//visibilityFullFit: true,
	slidesPerView: 'auto',
	allowTouchMove: false,
	on:{
		tap: function() {
		    viewSwiper.slideTo(previewSwiper.clickedIndex)
	  }
	}
})

function updateNavPosition() {
		$('.preview .active-nav').removeClass('active-nav')
		var activeNav = $('.preview .swiper-slide').eq(viewSwiper.activeIndex).addClass('active-nav')
		if (!activeNav.hasClass('swiper-slide-visible')) {
			if (activeNav.index() > previewSwiper.activeIndex) {
				var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1
				previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
			} else {
				previewSwiper.slideTo(activeNav.index())
			}
		}
	}
</script>

{include file=comm/foot.html}

-->
