


body{ margin:0 auto; font-size:12px; font-family:Arial, Helvetica, sans-serif,新宋体;background:url(bg.gif) repeat-x; height:161px;}

*{ margin:0px; padding:0px;}
.clear{ clear:both}

div,ul,li,p,table,td{ margin:0px; padding:0px;}

.top{ width:974px; margin:0 auto; background:url(top.jpg) no-repeat; height:161px;}

.top a{ text-decoration:none; color:#FFFFFF; font-family: "微软雅黑"}

.menu{ width:974px; float:left; margin-top:18px; height:30px; line-height:30px;}

.fgx{ background:url(banner_fgx.gif) repeat-x; height:6px; width:974px; margin:0 auto; _margin:-3px auto 0 auto}

.main{ margin:974px; margin:10px auto 0 auto}

.link{ width:974px; margin:0 auto;}

.link ul{ margin-top:10px; list-style:none;}

.link ul li{ float:left; width:128px; margin-left:8px;}
.link ul li a{ text-decoration:none; color:#1c7583; font-size:15px; font-family: "微软雅黑";}

.link ul li a:hover{ color:#00db9b}








.containTopPosition {
 position:relative;
 z-index:0;
 width:974px;
 height:307px;
 overflow:hidden;
}
.containTopPosition img {

}
.imgMenu ul{
 position:absolute;
 top:0;
 left:0;
 z-index:-99;
 width:5000px;
}
.imgMenu li {
 float:left;
}
#buttonL {
 left:0;
 background:url(imgMenuL.png) no-repeat;
}
#buttonR {
 right:0;
 background:url(imgMenuR.png) no-repeat;
}
.buttonLR {
 position:absolute;
 top:130px;
 display:none;
 cursor:pointer;
 width:56px;
 height:52px;
 display:inline-block;
}
.imgText li {
 width:290px;
 height:45px;
 background:url(headTop.png);
 position:absolute;
 left:100px;
 bottom:50px;
 padding:5px;
 display:none;
 _background:#000;
 _filter:alpha(opacity=80);
}







.span1 {
 font-size:24px; font-weight:bold; font-family: "微软雅黑";
 color:#cf9b00;
}
.span2 {
 padding-top:50px;
 font-size:14px;
 font-weight:600;
 color:#FFFFFF;
}





.photo_index{height:200px;position: relative;overflow:hidden;width: 220px;margin:0px auto; }
.photo_wrap{position: absolute;left:0px;top: 0px; z-index: 2; list-style:none}
.photo_wrap li{width:220px;float: left;}


.scrool{ float:right;}
 
.scrool a{width: 19px;height: 7px;display: inline-block;_zoom:1;background: url(news_down.gif) no-repeat 0 0;font-size: 0px;line-height: 0px;margin:0 2px;}
.scrool a.on,.scrool a:hover{background: url(news_hover.gif) no-repeat 0 0;}



.fmenu {
 Z-INDEX: 10; POSITION: relative; WIDTH: 130px;  HEIGHT: 28px; CURSOR: default
}



.fmenu .menulist {
 Z-INDEX: 1000;  POSITION: absolute; WIDTH:130px; BOTTOM: 28px; DISPLAY: none; BACKGROUND: #fff; LEFT: 0px; 
}
.fmenu .menulist .menubox {
 TEXT-ALIGN: left; LINE-HEIGHT: 20px;  WIDTH: 130px; 
}

.menubox ul{ list-style:none; height:200px; width:130px;overflow:scroll;
 overflow-x:hidden;
BORDER:  #333333 2px solid; 
 -o-text-overflow:ellipsis;}

.menubox ul li{ width:140px; height:25px; font-size:12px; border-bottom:1px dotted #F2F2F2}

.menubox ul li a{ font-size:12px; color:#333333}

.fmenu .menulist .menubox A {
 LINE-HEIGHT: 22px; WIDTH: 100%; DISPLAY: block; HEIGHT: 20px
}






.huaL img,.huaR img {
 width:11px;
 height:12px;
}
.huaR,.huaL {
 cursor:pointer;
}
.xiaoQing {
 width:220px;
 height:200px;
 overflow:hidden;
 position:relative;
}
.xiaoQing img {
 width:220px;
 height:63px;
 *margin-left:0px;
}
.xiaoQing ul {
 position:absolute; list-style:none;
 top:0;
 left:0;
 width:2000px;
}
.xiaoQing li {
 float:left;
}


.now a{ text-decoration:none;}


.jgsz a{ display:block;  height:25px; line-height:25px; text-decoration:none; color:#333333; width:180px; float:left; background:url(jgszPic2.gif) no-repeat left center; padding-left:20px;}
.jgsz a:hover{ display:block; height:25px; line-height:25px; color:#FF0000}


.aaa ul{ list-style:none; margin:0px; padding:0px;}



.newslm{ list-style:none;}

.newslm li{ float:left;  width:60px; height:21px; background:#f9f9f9; line-height:21px; border:1px solid #CCCCCC; border-right:none; text-align:center}

.newslm li a{ text-decoration:none; color:#000000; font-size:12px;}

.newslm li a:hover{ color:#990000}