.erjifontover42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffff; font-size: 14px; text-decoration: none ;}
.leaderfont42155{ line-height: 160%; font-family: 宋体; color: #666666; font-size: 11pt ;}
.erjibackground42155{ border-bottom: #2a2a2a 1px solid; background-color: #3d3d3d; padding-left: 10px; padding-right: 10px; height: 25px; border-right: #2a2a2a 1px solid ;}
.currentfontStyle42155{ line-height: 160%; font-family: 宋体; color: #cc0000; font-size: 11pt; text-decoration: none ;}
.fontstyle42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffff; font-size: 11pt; text-decoration: none ;}
.yijifontover42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffd8; font-size: 11pt; text-decoration: none ;}
.erjibackgroundover42155{ border-bottom: #292929 1px solid; background-color: #787878; padding-left: 10px; padding-right: 10px; height: 25px; border-right: #61605e 1px solid ;}
.ejfontstyle42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffff; font-size: 14px; text-decoration: none ;}
.leaderfont42274{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle42274{ background-image: url(/system/resource/images/research/seach_bg.gif); border-bottom: #878787 1px solid; position: relative; border-left: #878787 1px solid; padding-left: 22px; width: 130px; background-repeat: no-repeat; font-family: 宋体; height: 17px; color: #222222; font-size: 10pt; border-top: #878787 1px solid; border-right: #878787 1px solid; padding-top: 3px ;}
.morestyle42182{ font-size: 9pt ;}
.clickstyle42182{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont42182{ font-size: 9pt; line-height: 150% ;}
.titlestyle42182{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle42182{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle42182{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c42182 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c42182:link {
color:#222222;}
A.c42182:visited {
color:#222222;}
A.c42182:active {
color: #222222;}
A.c42182:hover {
color: #6F917D;}.morestyle42183{ font-size: 9pt ;}
.clickstyle42183{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont42183{ font-size: 9pt; line-height: 150% ;}
.titlestyle42183{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle42183{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle42183{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c42183 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c42183:link {
color:#222222;}
A.c42183:visited {
color:#222222;}
A.c42183:active {
color: #222222;}
A.c42183:hover {
color: #6F918A;}.morestyle43134{ font-size: 9pt ;}
.clickstyle43134{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont43134{ font-size: 9pt; line-height: 150% ;}
.titlestyle43134{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle43134{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle43134{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c43134 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c43134:link {
color:#222222;}
A.c43134:visited {
color:#222222;}
A.c43134:active {
color: #222222;}
A.c43134:hover {
color: #cc0000;}.morestyle43135{ font-size: 9pt ;}
.clickstyle43135{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont43135{ font-size: 9pt; line-height: 150% ;}
.titlestyle43135{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle43135{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle43135{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c43135 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c43135:link {
color:#222222;}
A.c43135:visited {
color:#222222;}
A.c43135:active {
color: #222222;}
A.c43135:hover {
color: #cc0000;}.morestyle43136{ font-size: 9pt ;}
.clickstyle43136{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont43136{ font-size: 9pt; line-height: 150% ;}
.titlestyle43136{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle43136{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle43136{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c43136 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c43136:link {
color:#222222;}
A.c43136:visited {
color:#222222;}
A.c43136:active {
color: #222222;}
A.c43136:hover {
color: #cc0000;}.morestyle43137{ font-size: 9pt ;}
.clickstyle43137{ font-size: 9pt; color: #222222; line-height: 150% ;}
.leaderfont43137{ font-size: 9pt; line-height: 150% ;}
.titlestyle43137{ line-height: 150%; font-size: 9pt; text-decoration: none ;}
.columnstyle43137{ font-size: 9pt; color: #222222; text-decoration: none ;}
.timestyle43137{ font-size: 9pt; color: #222222; line-height: 150%;}
A.c43137 {
line-height: 150%; font-size: 9pt; text-decoration: none 
;}
A.c43137:link {
color:#222222;}
A.c43137:visited {
color:#222222;}
A.c43137:active {
color: #222222;}
A.c43137:hover {
color: #cc0000;}.fontstyle42291{ font-family: 宋体; font-size: 10pt ;}