.erjifontover42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffff; font-size: 14px; text-decoration: none ;}
.leaderfont42155{ line-height: 160%; font-family: 宋体; color: #666666; font-size: 11pt ;}
.erjibackground42155{ border-bottom: #2a2a2a 1px solid; background-color: #3d3d3d; padding-left: 10px; padding-right: 10px; height: 25px; border-right: #2a2a2a 1px solid ;}
.currentfontStyle42155{ line-height: 160%; font-family: 宋体; color: #cc0000; font-size: 11pt; text-decoration: none ;}
.fontstyle42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffff; font-size: 11pt; text-decoration: none ;}
.yijifontover42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffd8; font-size: 11pt; text-decoration: none ;}
.erjibackgroundover42155{ border-bottom: #292929 1px solid; background-color: #787878; padding-left: 10px; padding-right: 10px; height: 25px; border-right: #61605e 1px solid ;}
.ejfontstyle42155{ line-height: 160%; font-family: 微软雅黑; color: #ffffff; font-size: 14px; text-decoration: none ;}
.leaderfont42283{ font-family: 宋体; color: #333333; font-size: 9pt ;}
.querystyle42283{ background-image: url(/system/resource/images/research/seach_bg.gif); border-bottom: #878787 1px solid; position: relative; border-left: #878787 1px solid; padding-left: 22px; width: 130px; background-repeat: no-repeat; font-family: 宋体; height: 17px; color: #222222; font-size: 10pt; border-top: #878787 1px solid; border-right: #878787 1px solid; padding-top: 3px ;}
.windowstyle42175{ font-family: 微软雅黑; color: #ffffff; font-size: 12pt; font-weight: bold ;}
.erjifontover42176{ line-height: 160%; font-family: 宋体; color: #cc0000; font-size: 11pt; text-decoration: none ;}
.leaderfont42176{ line-height: 160%; font-family: 宋体; color: #666666; font-size: 11pt ;}
.yijibackground42176{ border-bottom: #187584 1px solid; text-align: right; width: 150px; height: 30px ;}
.erjibackground42176{ border-bottom: #cccccc 1px solid; background-color: #eeeeee; border-right: #cccccc 1px solid ;}
.currentfontStyle42176{ line-height: 160%; font-family: 宋体; color: #cc0000; font-size: 11pt; text-decoration: none ;}
.fontstyle42176{ line-height: 160%; font-family: 微软雅黑; color: #000000; font-size: 10pt; text-decoration:  ;}
.yijifontover42176{ line-height: 160%; font-family: 微软雅黑; color: #fff; font-size: 10pt ;}
.erjibackgroundover42176{ border-bottom: #cccccc 1px solid; background-color: #eeeeee; border-right: #cccccc 1px solid ;}
.yijibackgroundover42176{ border-bottom: #187584 1px solid; text-align: right; width: 150px; background: #197584; height: 30px ;}
.ejfontstyle42176{ line-height: 160%; font-family: 宋体; color: #000000; font-size: 11pt; text-decoration: none ;}
.fontstyle42177{ font-size: 9pt; color: #222222; text-decoration: none ;}
.splitflagstyle42177{ color: #222222 ;}
.winstyle42177{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.votetitlestyle42178{ font-size: 9pt; color: #2b2b2b; font-family: 宋体 ;}
.titlestyle42178{ line-height: 35px; font-size: 18pt; font-weight: bold ;}
.navstyle42178{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.timestyle42178{ font-size: 9pt ;}
.contentstyle42178{ line-height: 24px; font-size: 14px ;}
.authorstyle42178{ font-size: 9pt ;}
.footstyle42178{ font-size: 9pt ;}
.contextstyle42178{ font-size: 9pt; color: #222222; font-family: 宋体; text-decoration: none ;}
.winstyle42178{ font-size: 9pt; font-family: 宋体 ;}
.votestyle42178{ font-weight: bold; font-size: 11pt; color: #2b2b2b; font-family: 宋体 ;}
.pagestyle42178{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.c42178_content span{
    font-size:100%;}